$d-list:320px 360px 375px 411px 414px 435px 768px;
html{
    font-size: 100px;
} 
body{
    font-size: 12px;
}
$design:750px;

@each $i in $d-list{
    @media screen and (min-width:#{$i}){
        html{
           font-size: 100px * $i/$design;
        }
    }
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
