@font-face {
  font-family: 'iconfont';  /* project id："161748" */
  src: url('http://at.alicdn.com/t/font_zdxtkdjtuo9a4i.eot');
  src: url('http://at.alicdn.com/t/font_zdxtkdjtuo9a4i.eot') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_zdxtkdjtuo9a4i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_zdxtkdjtuo9a4i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_zdxtkdjtuo9a4i.svg#iconfont') format('svg');
}
body{
    font-family: "微软雅黑";
    background: #fff;
    box-sizing: border-box;
}
*{
    font-family: "微软雅黑";
}
@mixin lr-center{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.header{
    width: 100%;
    height: 1.7rem;
    background: #617fde;
    overflow: hidden;
    .nav{
        width: 100%;
        height: 0.8rem;
        margin-top: 0.6rem;
        font-size: 24px;
        color:#fff ;
        padding: 0 0.2rem;
        box-sizing: border-box;
        &>a{
            font-family: "iconfont";
            float: left;
            padding: 0 0.2rem;
            line-height: 0.8rem;
            color:#fff ;
        }
        span{
            float: left;
            padding: 0 0.2rem;
            line-height: 0.8rem;
        }
        .right{
            float: right;
        }
        }
}
.content{
    width: 100%;
    height:11.6rem;
    background: #fff;
    overflow: hidden;
    .main{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .img1{
            @include lr-center;
            width: 2.1rem;
            margin-top: 4rem;
        }
        .img2{
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
            width: 1.26rem;
        }
        p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 18px;
            color: #999999;
            margin-top: 0.3rem;
        }
        p:first-of-type{
            font-size: 24px;
            color:#737373;
            margin-top: 6rem;
        }
    }
}
//首页
#nav{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.3);
    .side{
        float:left;
        width: 0;
        overflow: hidden;
        height: 100%;
        background: #fff;
        .top{
            width: 100%;
            height: 3.2rem;
            background: #617fde;
        }
    }
}
.top .touxiang{
    width: 1.3rem;
    height: 1.3rem;
    border-radius:50%;
    float: left;
    margin-top: 1.3rem;
    margin-left: 0.3rem;
}
.top  .info{
    width: auto;
    float: left;
    margin-top: 1.3rem;
    margin-left: 0.3rem;
}
.top  .info p:nth-of-type(1){
    font-size:18px;
    color:#fff;
    font-weight: 400;
    line-height: 0.7rem;
}
.top  .info p:nth-of-type(2){
    font-size: 14px;
    color:#fff;
    font-weight: 400;
}
.top a{
    font-family: "iconfont";
    float: right;
    margin-top: 1.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    font-size: 24px;
    color: #fff;
}
#nav .side .bot{
    width:100%;
    height: auto;
    overflow: hidden;
    li{
        width: 100%;
        height: 1.5rem;
        display: block;
        line-height: 1.5rem;
        font-size: 20px;
        position: relative;
        overflow: hidden;
        color:#1d2f49;
        padding: 0 0.3rem;
        box-sizing: border-box;
        a{
            font-family: "iconfont";
            margin-right: 0.3rem;
            font-size: 20px;
            color:#788291;
            line-height: 1.5rem;
        }
    }
}
//设置页面
.main .data{
    width: 100%;
    height: 1.2rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
    span{
    color:#999999;
    line-height: 1.2rem;
    font-size: 18px;
  }
  #hour{
      margin-left: 0.2rem;
  }
  .right{
      float: right;
      font-family: "iconfont";
      font-size: 18px;
      color:#737373;
      margin-left: 0.5rem;
      
  }
    
}
.main .title{
        width: 100%;
        height: 1.2rem;
        float: left;
        font-size: 24px;
        line-height: 1.2rem;
        border: none;
        outline: none;
        padding: 0 0.3rem;
        box-sizing: border-box;
        font-family: "微软雅黑";
        color:#4D4D4D;
}
.main .content{
        width: 100%;
        height: 0.9rem;
        float: left;
        font-size: 18px;
        line-height: 0.9rem;
        border: none;
        outline: none;
        padding: 0 0.3rem;
        box-sizing: border-box;
        color: #999999;
        
}
.main1 .one{
    width: 100%;
    height: 1.15rem;
    padding: 0 0.3rem;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    float: left;
    .logo{
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        float: left;
        line-height: 0.75rem;
        background: #90a4ae;
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin-top: 0.3rem;
    }
    .neirong{
        width: auto;
        height: 100%;
        float: left;
        margin-left: 0.3rem;
        &>.title1{
            font-size: 18px;
            height:0.8rem;
            float: left;
            line-height: 0.8rem;
            float: left;
            width: 100%;
        }
         &>.content1{
            font-size: 12px;
             width: 100%;
            height:0.35rem;
            float: left;
            line-height: 0.35rem;
            float: left;
            color: #999999;
        }
    }
}
